body{
   margin: 0 0;
   background-image: url("bg.jpg");
   background-size: cover;

  
  background-repeat: no-repeat;
  width: 100%;

}
.navbar{
   border-bottom: none;
}


.center{
   text-align: center;
   padding: 300px 0;
   font-family: 'Times New Roman', Times, serif;
   font-size: 50px;
   color:red;
 
  
  

}
.arrow{
   font-size: medium;
   color: red;
}

button:hover{
   color: yellowgree;

}
.mywork{
   margin-top: 55px;
}
.projectname{
   font-size: 30px;
   text-align: center;
   color: #912;
}
hr{
   display: none;
}

@media screen and (min-width:900px) {

   body{
      margin: 0 0;
      background-image: url("bg.jpg");
   
     background-size: cover;
     background-repeat: no-repeat;
     width: 100%;
   
   }
   .navbar{
      border-bottom: none;
   }
   
   
   .center{
      text-align: center;
      padding: 450px 0;
      font-family: 'Times New Roman', Times, serif;
      font-size: 50px;
      color:black;
    
     
     
   
   }
   .arrow{
      font-size: medium;
      color: red;
   }
   
   button:hover{
      color: yellowgree;
   
   }
   .mywork{
      margin-top: 55px;
   }
   .projectname{
      font-size: 30px;
      text-align: center;
      color: #912;
   }
   
}


@media screen and (max-width:700px) {
   body{
      background-image: url("bg2.jpg");
   }
 
   .center{
    text-align: center;
    padding: 350px 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color:black;
  
   
   
 
 }
 .det{
    color: black;
    font-size: 20px;
 }
 .projectname{
    font-size: 20px;
    text-align: center;
    color: #912;
 }
  }
 @media screen and (max-width:500px) {
  body{
     background-image: url("bg2.jpg");
     width:100%;
  }

  .center{
   text-align: center;
   padding: 350px 0;
   font-family: 'Times New Roman', Times, serif;
   font-size: 30px;
   color:black;
 
  
  

}
.det{
   color: black;
   font-size: 20px;
}
.projectname{
   font-size: 20px;
   text-align: center;
   color:red;
}
hr{
   display: block;
}
 }






















   
}